/*Polaroid effect, this makes the pictures look like polaroids,

Works best if you gave captions to the images in the gallery
*/


/*Before we add the polaroid styling we give some general styles
change it how you like*/
.gallery-item {
  	width:18%;
  	margin:0 3%;
	float: left;
	text-align: center;
	background-color: #fff;
}

.gallery img {
	padding:10px;
}

/*
Here is the modifed css from
http://zurb.com/playground/css3-polaroids
/*
/* By default, we tilt all our images -2 degrees */
.gallery-item{
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  border:1px solid #999;
}
 
/* Rotate all even images 2 degrees */
.gallery-item:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
.gallery-item:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  position: relative;
  top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
.gallery-item:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
.gallery-item:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
.gallery-item:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
.gallery-item:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
.gallery-item {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
.gallery-item {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}